        /* カラーパレット */
        .flex{
            display: flex;
            border: 1px solid #333;
        }
        .flex div{
            /*コレ追加*/padding: 10px 50px;
            border: 1px solid #333;
        }
        :root {
            --primary-color: #E63946;
            --secondary-color: #F1FAEE;
            --tertiary-color: #A8DADC;
            --quaternary-color: #457B9D;
        }

        body {
            font-family: 'Arial', sans-serif;
            background-color: var(--secondary-color);
        }

        /* ナビゲーションバー */
        nav ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            padding: 10px;
            background-color: var(--primary-color);
        }

        nav li {
            margin: 0 15px;
        }

        nav a {
            text-decoration: none;
            color: var(--secondary-color);
            padding: 5px 10px;
        }

        nav a:hover {
            background-color: var(--tertiary-color);
            color: var(--quaternary-color);
        }

        /* サブディビジョン */
        .subdivision {
            padding: 20px;
        }

        .division1 {
            display: flex;
            background-color: var(--tertiary-color);
            padding: 20px;
            margin-bottom: 20px;
        }

        .division2 {
            display: flex;
            justify-content: space-between;
        }

        .division2a{
            width: 200px;
            background: #ffd87c;
        }

        .division2b {
            width: calc(100% - 200px);
            background: #9ddbfc;
            background: #F1FAEE;
        }

        .division2a img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }

        .division2b ul {
        }

        .division2b li:nth-child(1) {
            color: var(--primary-color);
        }

        .division2b li:nth-child(2) {
            color: var(--tertiary-color);
        }

        .division2b li:nth-child(3) {
            color: var(--quaternary-color);
        }